In [1]:
import pandas as pd

# Merge Train Dataframes

In [ ]:
items = pd.read_csv('new_items.csv')                                        # MERGE ON -- item_nbr
train_store_transactions = pd.read_csv('train_store_transactions.csv')      # MERGE ON -- date, month, day, store_nbr
train_holidays = pd.read_csv('train_holidays.csv')                          # MERGE ON -- date, month, day, year
train_oil = pd.read_csv('train_oil.csv')                                    # MERGE ON -- date, month, day, year

new_train = pd.DataFrame()
chunksize = 200000

for chunk in pd.read_csv('new_train.csv', chunksize=chunksize):
    chunk = chunk.merge(items, on='item_nbr')
    chunk.sort_values(by=['id'], inplace=True)
    chunk.reset_index(drop=True, inplace=True)
    chunk = chunk.merge(train_store_transactions, on=['date','month','day','year','store_nbr'])
    chunk = chunk.merge(train_holidays, on=['date','month','day','year'])
    chunk = chunk.merge(train_oil, on=['date','month','day','year'])
    chunk.head(1)
    new_train = new_train.append(chunk, ignore_index=True)

In [ ]:
new_train

In [ ]:
new_train.to_csv('TRAIN_FINAL.csv', index=False, chunksize=500000)

# Merge Without Items DF

In [1]:
import pandas as pd

In [3]:
train_df = pd.read_csv('new_train.csv')
target = pd.DataFrame(train_df['unit_sales'])
target

           unit_sales
0                 7.0
1                 1.0
2                 2.0
3                 1.0
4                 1.0
5                 3.0
6                 1.0
7                 1.0
8                13.0
9                 3.0
10                1.0
11                1.0
12                1.0
13                1.0
14                5.0
15                1.0
16                6.0
17               10.0
18                5.0
19                1.0
20                1.0
21                1.0
22                1.0
23                4.0
24                1.0
25               11.0
26                3.0
27                9.0
28                7.0
29                2.0
...               ...
125497010         7.0
125497011         2.0
125497012         7.0
125497013         1.0
125497014         4.0
125497015         1.0
125497016        36.0
125497017       100.0
125497018        34.0
125497019        29.0
125497020        23.0
125497021         2.0
125497022         1.0
125497023         3.0
125497024         1.0
125497025        49.0
125497026         3.0
125497027        41.0
125497028         2.0
125497029         6.0
125497030         1.0
125497031         3.0
125497032         8.0
125497033         7.0
125497034         4.0
125497035         4.0
125497036         1.0
125497037       192.0
125497038       198.0
125497039         2.0

[125497040 rows x 1 columns]

In [4]:
target.to_csv('TRAIN_TARGET.csv', index=False, chunksize=500000)

In [5]:
del target
train_df.drop('unit_sales', axis=1, inplace=True)
train_df

,date,month,day,year,id,store_nbr,item_nbr,onpromotion
0,2013-01-01,1,1,2013,0,25,103665,0
1,2013-01-01,1,1,2013,1,25,105574,0
2,2013-01-01,1,1,2013,2,25,105575,0
3,2013-01-01,1,1,2013,3,25,108079,0
4,2013-01-01,1,1,2013,4,25,108701,0
5,2013-01-01,1,1,2013,5,25,108786,0
6,2013-01-01,1,1,2013,6,25,108797,0
7,2013-01-01,1,1,2013,7,25,108952,0
8,2013-01-01,1,1,2013,8,25,111397,0
9,2013-01-01,1,1,2013,9,25,114790,0
10,2013-01-01,1,1,2013,10,25,114800,0
11,2013-01-01,1,1,2013,11,25,115267,0
12,2013-01-01,1,1,2013,12,25,115611,0
13,2013-01-01,1,1,2013,13,25,115693,0
14,2013-01-01,1,1,2013,14,25,115720,0
15,2013-01-01,1,1,2013,15,25,115850,0
16,2013-01-01,1,1,2013,16,25,115891,0
17,2013-01-01,1,1,2013,17,25,115892,0
18,2013-01-01,1,1,2013,18,25,115894,0
19,2013-01-01,1,1,2013,19,25,119024,0
20,2013-01-01,1,1,2013,20,25,119026,0
21,2013-01-01,1,1,2013,21,25,119141,0
22,2013-01-01,1,1,2013,22,25,119187,0
23,2013-01-01,1,1,2013,23,25,119624,0
24,2013-01-01,1,1,2013,24,25,123927,0
25,2013-01-01,1,1,2013,25,25,129635,0
26,2013-01-01,1,1,2013,26,25,153239,0
27,2013-01-01,1,1,2013,27,25,153267,0
28,2013-01-01,1,1,2013,28,25,153395,0
29,2013-01-01,1,1,2013,29,25,155607,0
...,...,...,...,...,...,...,...,...
125497010,2017-08-15,8,15,2017,125497010,54,2056557,0
125497011,2017-08-15,8,15,2017,125497011,54,2057442,0
125497012,2017-08-15,8,15,2017,125497012,54,2058758,0
125497013,2017-08-15,8,15,2017,125497013,54,2059277,0
125497014,2017-08-15,8,15,2017,125497014,54,2059342,0
125497015,2017-08-15,8,15,2017,125497015,54,2059799,1
125497016,2017-08-15,8,15,2017,125497016,54,2060787,1
125497017,2017-08-15,8,15,2017,125497017,54,2060793,1
125497018,2017-08-15,8,15,2017,125497018,54,2060910,1
125497019,2017-08-15,8,15,2017,125497019,54,2061025,1
125497020,2017-08-15,8,15,2017,125497020,54,2061033,1
125497021,2017-08-15,8,15,2017,125497021,54,2061404,0
125497022,2017-08-15,8,15,2017,125497022,54,2062477,0
125497023,2017-08-15,8,15,2017,125497023,54,2067056,0
125497024,2017-08-15,8,15,2017,125497024,54,2081056,0
125497025,2017-08-15,8,15,2017,125497025,54,2081064,0
125497026,2017-08-15,8,15,2017,125497026,54,2081095,0
125497027,2017-08-15,8,15,2017,125497027,54,2081161,0
125497028,2017-08-15,8,15,2017,125497028,54,2084278,0
125497029,2017-08-15,8,15,2017,125497029,54,2084557,0
125497030,2017-08-15,8,15,2017,125497030,54,2086882,0
125497031,2017-08-15,8,15,2017,125497031,54,2087409,0
125497032,2017-08-15,8,15,2017,125497032,54,2087978,0
125497033,2017-08-15,8,15,2017,125497033,54,2088922,0
125497034,2017-08-15,8,15,2017,125497034,54,2089036,0
125497035,2017-08-15,8,15,2017,125497035,54,2089339,0
125497036,2017-08-15,8,15,2017,125497036,54,2106464,1
125497037,2017-08-15,8,15,2017,125497037,54,2110456,0
125497038,2017-08-15,8,15,2017,125497038,54,2113914,1
125497039,2017-08-15,8,15,2017,125497039,54,2116416,0

In [6]:
train_store_transactions = pd.read_csv('train_store_transactions.csv')    # MERGE ON -- date, month, day, store_nbr
train_df = train_df.merge(train_store_transactions, on=['date','month','day','year','store_nbr'], how='left')
del train_store_transactions

In [7]:
train_holidays = pd.read_csv('train_holidays.csv')                        # MERGE ON -- date, month, day, year
train_df = train_df.merge(train_holidays, on=['date','month','day','year'], how='left')
del train_holidays

In [8]:
train_oil = pd.read_csv('train_oil.csv')                                  # MERGE ON -- date, month, day, year
train_df = train_df.merge(train_oil, on=['date','month','day','year'], how='left')
del train_oil
train_df

,date,month,day,year,id,store_nbr,item_nbr,onpromotion,transactions,city__Ambato,...,locale_name__Quito,locale_name__Riobamba,locale_name__Salinas,locale_name__Santa Elena,locale_name__Santo Domingo,locale_name__Santo Domingo de los Tsachilas,transferred,dcoilwtico,oil/100,oil_change
0,2013-01-01,1,1,2013,0,25,103665,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
1,2013-01-01,1,1,2013,1,25,105574,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
2,2013-01-01,1,1,2013,2,25,105575,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
3,2013-01-01,1,1,2013,3,25,108079,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
4,2013-01-01,1,1,2013,4,25,108701,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
5,2013-01-01,1,1,2013,5,25,108786,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
6,2013-01-01,1,1,2013,6,25,108797,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
7,2013-01-01,1,1,2013,7,25,108952,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
8,2013-01-01,1,1,2013,8,25,111397,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
9,2013-01-01,1,1,2013,9,25,114790,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
10,2013-01-01,1,1,2013,10,25,114800,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
11,2013-01-01,1,1,2013,11,25,115267,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
12,2013-01-01,1,1,2013,12,25,115611,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
13,2013-01-01,1,1,2013,13,25,115693,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
14,2013-01-01,1,1,2013,14,25,115720,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
15,2013-01-01,1,1,2013,15,25,115850,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
16,2013-01-01,1,1,2013,16,25,115891,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
17,2013-01-01,1,1,2013,17,25,115892,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
18,2013-01-01,1,1,2013,18,25,115894,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
19,2013-01-01,1,1,2013,19,25,119024,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
20,2013-01-01,1,1,2013,20,25,119026,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
21,2013-01-01,1,1,2013,21,25,119141,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
22,2013-01-01,1,1,2013,22,25,119187,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
23,2013-01-01,1,1,2013,23,25,119624,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
24,2013-01-01,1,1,2013,24,25,123927,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
25,2013-01-01,1,1,2013,25,25,129635,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
26,2013-01-01,1,1,2013,26,25,153239,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
27,2013-01-01,1,1,2013,27,25,153267,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
28,2013-01-01,1,1,2013,28,25,153395,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
29,2013-01-01,1,1,2013,29,25,155607,0,770.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93.14,0.9314,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125497010,2017-08-15,8,15,2017,125497010,54,2056557,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497011,2017-08-15,8,15,2017,125497011,54,2057442,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497012,2017-08-15,8,15,2017,125497012,54,2058758,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497013,2017-08-15,8,15,2017,125497013,54,2059277,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497014,2017-08-15,8,15,2017,125497014,54,2059342,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497015,2017-08-15,8,15,2017,125497015,54,2059799,1,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497016,2017-08-15,8,15,2017,125497016,54,2060787,1,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497017,2017-08-15,8,15,2017,125497017,54,2060793,1,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497018,2017-08-15,8,15,2017,125497018,54,2060910,1,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497019,2017-08-15,8,15,2017,125497019,54,2061025,1,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497020,2017-08-15,8,15,2017,125497020,54,2061033,1,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497021,2017-08-15,8,15,2017,125497021,54,2061404,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497022,2017-08-15,8,15,2017,125497022,54,2062477,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497023,2017-08-15,8,15,2017,125497023,54,2067056,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497024,2017-08-15,8,15,2017,125497024,54,2081056,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497025,2017-08-15,8,15,2017,125497025,54,2081064,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497026,2017-08-15,8,15,2017,125497026,54,2081095,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497027,2017-08-15,8,15,2017,125497027,54,2081161,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497028,2017-08-15,8,15,2017,125497028,54,2084278,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497029,2017-08-15,8,15,2017,125497029,54,2084557,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497030,2017-08-15,8,15,2017,125497030,54,2086882,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497031,2017-08-15,8,15,2017,125497031,54,2087409,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497032,2017-08-15,8,15,2017,125497032,54,2087978,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497033,2017-08-15,8,15,2017,125497033,54,2088922,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497034,2017-08-15,8,15,2017,125497034,54,2089036,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497035,2017-08-15,8,15,2017,125497035,54,2089339,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497036,2017-08-15,8,15,2017,125497036,54,2106464,1,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497037,2017-08-15,8,15,2017,125497037,54,2110456,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497038,2017-08-15,8,15,2017,125497038,54,2113914,1,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02
125497039,2017-08-15,8,15,2017,125497039,54,2116416,0,802.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,47.57,0.4757,-0.02

In [ ]:
train_df.drop('oil/100', axis=1, inplace=True)
train_df.drop('date', axis=1, inplace=True)
#train_df.fillna(0, inplace=True)

In [ ]:
columns = train_df.columns.values

for c in columns:
    new_c = c
    new_c.replace(' ', '_')
    train_df.rename(columns={c:new_c}, inplace=True)

In [9]:
train_df.to_csv('TRAIN_FINAL_NO_ITEMS.csv', index=False, chunksize=300000)