# Engineer test and train dataframes to make onpromotion 1-hot and bring in extrapolated date information

In [2]:
import pandas as pd

In [3]:
test_dates = pd.read_csv('new_data/test_dates.csv')
test_df = pd.read_csv('data/test.csv')
test_df

                id        date  store_nbr  item_nbr  onpromotion
0        125497040  2017-08-16          1     96995        False
1        125497041  2017-08-16          1     99197        False
2        125497042  2017-08-16          1    103501        False
3        125497043  2017-08-16          1    103520        False
4        125497044  2017-08-16          1    103665        False
5        125497045  2017-08-16          1    105574        False
6        125497046  2017-08-16          1    105575        False
7        125497047  2017-08-16          1    105576        False
8        125497048  2017-08-16          1    105577        False
9        125497049  2017-08-16          1    105693        False
10       125497050  2017-08-16          1    105737        False
11       125497051  2017-08-16          1    105857        False
12       125497052  2017-08-16          1    106716        False
13       125497053  2017-08-16          1    108079        False
14       125497054  2017-08-16          1    108634        False
15       125497055  2017-08-16          1    108696        False
16       125497056  2017-08-16          1    108698        False
17       125497057  2017-08-16          1    108701         True
18       125497058  2017-08-16          1    108786        False
19       125497059  2017-08-16          1    108797         True
20       125497060  2017-08-16          1    108831        False
21       125497061  2017-08-16          1    108833        False
22       125497062  2017-08-16          1    108862        False
23       125497063  2017-08-16          1    108952        False
24       125497064  2017-08-16          1    111223        False
25       125497065  2017-08-16          1    111397        False
26       125497066  2017-08-16          1    112830        False
27       125497067  2017-08-16          1    114778        False
28       125497068  2017-08-16          1    114790         True
29       125497069  2017-08-16          1    114799        False
...            ...         ...        ...       ...          ...
3370434  128867474  2017-08-31         54   2127921        False
3370435  128867475  2017-08-31         54   2127992        False
3370436  128867476  2017-08-31         54   2128628        False
3370437  128867477  2017-08-31         54   2128799        False
3370438  128867478  2017-08-31         54   2129334        False
3370439  128867479  2017-08-31         54   2129350        False
3370440  128867480  2017-08-31         54   2129387        False
3370441  128867481  2017-08-31         54   2129515        False
3370442  128867482  2017-08-31         54   2129616        False
3370443  128867483  2017-08-31         54   2129678        False
3370444  128867484  2017-08-31         54   2129786        False
3370445  128867485  2017-08-31         54   2129790        False
3370446  128867486  2017-08-31         54   2129892        False
3370447  128867487  2017-08-31         54   2129994        False
3370448  128867488  2017-08-31         54   2130131        False
3370449  128867489  2017-08-31         54   2130219        False
3370450  128867490  2017-08-31         54   2130265        False
3370451  128867491  2017-08-31         54   2130352        False
3370452  128867492  2017-08-31         54   2130474        False
3370453  128867493  2017-08-31         54   2130521        False
3370454  128867494  2017-08-31         54   2130526        False
3370455  128867495  2017-08-31         54   2130553        False
3370456  128867496  2017-08-31         54   2131010        False
3370457  128867497  2017-08-31         54   2131572        False
3370458  128867498  2017-08-31         54   2131699        False
3370459  128867499  2017-08-31         54   2132163        False
3370460  128867500  2017-08-31         54   2132318        False
3370461  128867501  2017-08-31         54   2132945        False
3370462  128867502  2017-08-31         54   2132957        False
3370463  128867503  2017-08-31         54   2134244        False

[3370464 rows x 5 columns]

In [4]:
test_promos = pd.get_dummies(test_df['onpromotion'], drop_first=True)
test_promos.rename(columns={True:'onpromotion'}, inplace=True)
test_df.drop('onpromotion', axis=1, inplace=True)
test_df = test_df.merge(test_promos, left_index=True, right_index=True)
test_df

                id        date  store_nbr  item_nbr  onpromotion
0        125497040  2017-08-16          1     96995            0
1        125497041  2017-08-16          1     99197            0
2        125497042  2017-08-16          1    103501            0
3        125497043  2017-08-16          1    103520            0
4        125497044  2017-08-16          1    103665            0
5        125497045  2017-08-16          1    105574            0
6        125497046  2017-08-16          1    105575            0
7        125497047  2017-08-16          1    105576            0
8        125497048  2017-08-16          1    105577            0
9        125497049  2017-08-16          1    105693            0
10       125497050  2017-08-16          1    105737            0
11       125497051  2017-08-16          1    105857            0
12       125497052  2017-08-16          1    106716            0
13       125497053  2017-08-16          1    108079            0
14       125497054  2017-08-16          1    108634            0
15       125497055  2017-08-16          1    108696            0
16       125497056  2017-08-16          1    108698            0
17       125497057  2017-08-16          1    108701            1
18       125497058  2017-08-16          1    108786            0
19       125497059  2017-08-16          1    108797            1
20       125497060  2017-08-16          1    108831            0
21       125497061  2017-08-16          1    108833            0
22       125497062  2017-08-16          1    108862            0
23       125497063  2017-08-16          1    108952            0
24       125497064  2017-08-16          1    111223            0
25       125497065  2017-08-16          1    111397            0
26       125497066  2017-08-16          1    112830            0
27       125497067  2017-08-16          1    114778            0
28       125497068  2017-08-16          1    114790            1
29       125497069  2017-08-16          1    114799            0
...            ...         ...        ...       ...          ...
3370434  128867474  2017-08-31         54   2127921            0
3370435  128867475  2017-08-31         54   2127992            0
3370436  128867476  2017-08-31         54   2128628            0
3370437  128867477  2017-08-31         54   2128799            0
3370438  128867478  2017-08-31         54   2129334            0
3370439  128867479  2017-08-31         54   2129350            0
3370440  128867480  2017-08-31         54   2129387            0
3370441  128867481  2017-08-31         54   2129515            0
3370442  128867482  2017-08-31         54   2129616            0
3370443  128867483  2017-08-31         54   2129678            0
3370444  128867484  2017-08-31         54   2129786            0
3370445  128867485  2017-08-31         54   2129790            0
3370446  128867486  2017-08-31         54   2129892            0
3370447  128867487  2017-08-31         54   2129994            0
3370448  128867488  2017-08-31         54   2130131            0
3370449  128867489  2017-08-31         54   2130219            0
3370450  128867490  2017-08-31         54   2130265            0
3370451  128867491  2017-08-31         54   2130352            0
3370452  128867492  2017-08-31         54   2130474            0
3370453  128867493  2017-08-31         54   2130521            0
3370454  128867494  2017-08-31         54   2130526            0
3370455  128867495  2017-08-31         54   2130553            0
3370456  128867496  2017-08-31         54   2131010            0
3370457  128867497  2017-08-31         54   2131572            0
3370458  128867498  2017-08-31         54   2131699            0
3370459  128867499  2017-08-31         54   2132163            0
3370460  128867500  2017-08-31         54   2132318            0
3370461  128867501  2017-08-31         54   2132945            0
3370462  128867502  2017-08-31         54   2132957            0
3370463  128867503  2017-08-31         54   2134244            0

[3370464 rows x 5 columns]

In [5]:
test_df = test_dates.merge(test_df, on='date')
test_df

,date,month,day,year,id,store_nbr,item_nbr,onpromotion
0,2017-08-16,8,16,2017,125497040,1,96995,0
1,2017-08-16,8,16,2017,125497041,1,99197,0
2,2017-08-16,8,16,2017,125497042,1,103501,0
3,2017-08-16,8,16,2017,125497043,1,103520,0
4,2017-08-16,8,16,2017,125497044,1,103665,0
5,2017-08-16,8,16,2017,125497045,1,105574,0
6,2017-08-16,8,16,2017,125497046,1,105575,0
7,2017-08-16,8,16,2017,125497047,1,105576,0
8,2017-08-16,8,16,2017,125497048,1,105577,0
9,2017-08-16,8,16,2017,125497049,1,105693,0
10,2017-08-16,8,16,2017,125497050,1,105737,0
11,2017-08-16,8,16,2017,125497051,1,105857,0
12,2017-08-16,8,16,2017,125497052,1,106716,0
13,2017-08-16,8,16,2017,125497053,1,108079,0
14,2017-08-16,8,16,2017,125497054,1,108634,0
15,2017-08-16,8,16,2017,125497055,1,108696,0
16,2017-08-16,8,16,2017,125497056,1,108698,0
17,2017-08-16,8,16,2017,125497057,1,108701,1
18,2017-08-16,8,16,2017,125497058,1,108786,0
19,2017-08-16,8,16,2017,125497059,1,108797,1
20,2017-08-16,8,16,2017,125497060,1,108831,0
21,2017-08-16,8,16,2017,125497061,1,108833,0
22,2017-08-16,8,16,2017,125497062,1,108862,0
23,2017-08-16,8,16,2017,125497063,1,108952,0
24,2017-08-16,8,16,2017,125497064,1,111223,0
25,2017-08-16,8,16,2017,125497065,1,111397,0
26,2017-08-16,8,16,2017,125497066,1,112830,0
27,2017-08-16,8,16,2017,125497067,1,114778,0
28,2017-08-16,8,16,2017,125497068,1,114790,1
29,2017-08-16,8,16,2017,125497069,1,114799,0
...,...,...,...,...,...,...,...,...
3370434,2017-08-31,8,31,2017,128867474,54,2127921,0
3370435,2017-08-31,8,31,2017,128867475,54,2127992,0
3370436,2017-08-31,8,31,2017,128867476,54,2128628,0
3370437,2017-08-31,8,31,2017,128867477,54,2128799,0
3370438,2017-08-31,8,31,2017,128867478,54,2129334,0
3370439,2017-08-31,8,31,2017,128867479,54,2129350,0
3370440,2017-08-31,8,31,2017,128867480,54,2129387,0
3370441,2017-08-31,8,31,2017,128867481,54,2129515,0
3370442,2017-08-31,8,31,2017,128867482,54,2129616,0
3370443,2017-08-31,8,31,2017,128867483,54,2129678,0
3370444,2017-08-31,8,31,2017,128867484,54,2129786,0
3370445,2017-08-31,8,31,2017,128867485,54,2129790,0
3370446,2017-08-31,8,31,2017,128867486,54,2129892,0
3370447,2017-08-31,8,31,2017,128867487,54,2129994,0
3370448,2017-08-31,8,31,2017,128867488,54,2130131,0
3370449,2017-08-31,8,31,2017,128867489,54,2130219,0
3370450,2017-08-31,8,31,2017,128867490,54,2130265,0
3370451,2017-08-31,8,31,2017,128867491,54,2130352,0
3370452,2017-08-31,8,31,2017,128867492,54,2130474,0
3370453,2017-08-31,8,31,2017,128867493,54,2130521,0
3370454,2017-08-31,8,31,2017,128867494,54,2130526,0
3370455,2017-08-31,8,31,2017,128867495,54,2130553,0
3370456,2017-08-31,8,31,2017,128867496,54,2131010,0
3370457,2017-08-31,8,31,2017,128867497,54,2131572,0
3370458,2017-08-31,8,31,2017,128867498,54,2131699,0
3370459,2017-08-31,8,31,2017,128867499,54,2132163,0
3370460,2017-08-31,8,31,2017,128867500,54,2132318,0
3370461,2017-08-31,8,31,2017,128867501,54,2132945,0
3370462,2017-08-31,8,31,2017,128867502,54,2132957,0
3370463,2017-08-31,8,31,2017,128867503,54,2134244,0

In [6]:
test_df.to_csv('new_data/new_test.csv', index=False)
del test_df, test_promos, test_dates

In [7]:
train_dates = pd.read_csv('new_data/train_dates.csv')
train_df = pd.read_csv('data/train.csv')
train_df

/Users/farmboy5/Desktop/p3_workspace/venv/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                  id        date  store_nbr  item_nbr  unit_sales onpromotion
0                  0  2013-01-01         25    103665         7.0         NaN
1                  1  2013-01-01         25    105574         1.0         NaN
2                  2  2013-01-01         25    105575         2.0         NaN
3                  3  2013-01-01         25    108079         1.0         NaN
4                  4  2013-01-01         25    108701         1.0         NaN
5                  5  2013-01-01         25    108786         3.0         NaN
6                  6  2013-01-01         25    108797         1.0         NaN
7                  7  2013-01-01         25    108952         1.0         NaN
8                  8  2013-01-01         25    111397        13.0         NaN
9                  9  2013-01-01         25    114790         3.0         NaN
10                10  2013-01-01         25    114800         1.0         NaN
11                11  2013-01-01         25    115267         1.0         NaN
12                12  2013-01-01         25    115611         1.0         NaN
13                13  2013-01-01         25    115693         1.0         NaN
14                14  2013-01-01         25    115720         5.0         NaN
15                15  2013-01-01         25    115850         1.0         NaN
16                16  2013-01-01         25    115891         6.0         NaN
17                17  2013-01-01         25    115892        10.0         NaN
18                18  2013-01-01         25    115894         5.0         NaN
19                19  2013-01-01         25    119024         1.0         NaN
20                20  2013-01-01         25    119026         1.0         NaN
21                21  2013-01-01         25    119141         1.0         NaN
22                22  2013-01-01         25    119187         1.0         NaN
23                23  2013-01-01         25    119624         4.0         NaN
24                24  2013-01-01         25    123927         1.0         NaN
25                25  2013-01-01         25    129635        11.0         NaN
26                26  2013-01-01         25    153239         3.0         NaN
27                27  2013-01-01         25    153267         9.0         NaN
28                28  2013-01-01         25    153395         7.0         NaN
29                29  2013-01-01         25    155607         2.0         NaN
...              ...         ...        ...       ...         ...         ...
125497010  125497010  2017-08-15         54   2056557         7.0       False
125497011  125497011  2017-08-15         54   2057442         2.0       False
125497012  125497012  2017-08-15         54   2058758         7.0       False
125497013  125497013  2017-08-15         54   2059277         1.0       False
125497014  125497014  2017-08-15         54   2059342         4.0       False
125497015  125497015  2017-08-15         54   2059799         1.0        True
125497016  125497016  2017-08-15         54   2060787        36.0        True
125497017  125497017  2017-08-15         54   2060793       100.0        True
125497018  125497018  2017-08-15         54   2060910        34.0        True
125497019  125497019  2017-08-15         54   2061025        29.0        True
125497020  125497020  2017-08-15         54   2061033        23.0        True
125497021  125497021  2017-08-15         54   2061404         2.0       False
125497022  125497022  2017-08-15         54   2062477         1.0       False
125497023  125497023  2017-08-15         54   2067056         3.0       False
125497024  125497024  2017-08-15         54   2081056         1.0       False
125497025  125497025  2017-08-15         54   2081064        49.0       False
125497026  125497026  2017-08-15         54   2081095         3.0       False
125497027  125497027  2017-08-15         54   2081161        41.0       False
125497028  125497028  2017-08-15         54   2084278         2.0       False
125497029  125497029  2017-08-15         54   2084557         6.0       False
125497030  125497030  2017-08-15         54   2086882         1.0       False
125497031  125497031  2017-08-15         54   2087409         3.0       False
125497032  125497032  2017-08-15         54   2087978         8.0       False
125497033  125497033  2017-08-15         54   2088922         7.0       False
125497034  125497034  2017-08-15         54   2089036         4.0       False
125497035  125497035  2017-08-15         54   2089339         4.0       False
125497036  125497036  2017-08-15         54   2106464         1.0        True
125497037  125497037  2017-08-15         54   2110456       192.0       False
125497038  125497038  2017-08-15         54   2113914       198.0        True
125497039  125497039  2017-08-15         54   2116416         2.0       False

[125497040 rows x 6 columns]

In [8]:
train_promos = pd.get_dummies(train_df['onpromotion'], drop_first=True)
train_promos.rename(columns={True:'onpromotion'}, inplace=True)
train_df.drop('onpromotion', axis=1, inplace=True)
train_df = train_df.merge(train_promos, left_index=True, right_index=True)
train_df

                  id        date  store_nbr  item_nbr  unit_sales  onpromotion
0                  0  2013-01-01         25    103665         7.0            0
1                  1  2013-01-01         25    105574         1.0            0
2                  2  2013-01-01         25    105575         2.0            0
3                  3  2013-01-01         25    108079         1.0            0
4                  4  2013-01-01         25    108701         1.0            0
5                  5  2013-01-01         25    108786         3.0            0
6                  6  2013-01-01         25    108797         1.0            0
7                  7  2013-01-01         25    108952         1.0            0
8                  8  2013-01-01         25    111397        13.0            0
9                  9  2013-01-01         25    114790         3.0            0
10                10  2013-01-01         25    114800         1.0            0
11                11  2013-01-01         25    115267         1.0            0
12                12  2013-01-01         25    115611         1.0            0
13                13  2013-01-01         25    115693         1.0            0
14                14  2013-01-01         25    115720         5.0            0
15                15  2013-01-01         25    115850         1.0            0
16                16  2013-01-01         25    115891         6.0            0
17                17  2013-01-01         25    115892        10.0            0
18                18  2013-01-01         25    115894         5.0            0
19                19  2013-01-01         25    119024         1.0            0
20                20  2013-01-01         25    119026         1.0            0
21                21  2013-01-01         25    119141         1.0            0
22                22  2013-01-01         25    119187         1.0            0
23                23  2013-01-01         25    119624         4.0            0
24                24  2013-01-01         25    123927         1.0            0
25                25  2013-01-01         25    129635        11.0            0
26                26  2013-01-01         25    153239         3.0            0
27                27  2013-01-01         25    153267         9.0            0
28                28  2013-01-01         25    153395         7.0            0
29                29  2013-01-01         25    155607         2.0            0
...              ...         ...        ...       ...         ...          ...
125497010  125497010  2017-08-15         54   2056557         7.0            0
125497011  125497011  2017-08-15         54   2057442         2.0            0
125497012  125497012  2017-08-15         54   2058758         7.0            0
125497013  125497013  2017-08-15         54   2059277         1.0            0
125497014  125497014  2017-08-15         54   2059342         4.0            0
125497015  125497015  2017-08-15         54   2059799         1.0            1
125497016  125497016  2017-08-15         54   2060787        36.0            1
125497017  125497017  2017-08-15         54   2060793       100.0            1
125497018  125497018  2017-08-15         54   2060910        34.0            1
125497019  125497019  2017-08-15         54   2061025        29.0            1
125497020  125497020  2017-08-15         54   2061033        23.0            1
125497021  125497021  2017-08-15         54   2061404         2.0            0
125497022  125497022  2017-08-15         54   2062477         1.0            0
125497023  125497023  2017-08-15         54   2067056         3.0            0
125497024  125497024  2017-08-15         54   2081056         1.0            0
125497025  125497025  2017-08-15         54   2081064        49.0            0
125497026  125497026  2017-08-15         54   2081095         3.0            0
125497027  125497027  2017-08-15         54   2081161        41.0            0
125497028  125497028  2017-08-15         54   2084278         2.0            0
125497029  125497029  2017-08-15         54   2084557         6.0            0
125497030  125497030  2017-08-15         54   2086882         1.0            0
125497031  125497031  2017-08-15         54   2087409         3.0            0
125497032  125497032  2017-08-15         54   2087978         8.0            0
125497033  125497033  2017-08-15         54   2088922         7.0            0
125497034  125497034  2017-08-15         54   2089036         4.0            0
125497035  125497035  2017-08-15         54   2089339         4.0            0
125497036  125497036  2017-08-15         54   2106464         1.0            1
125497037  125497037  2017-08-15         54   2110456       192.0            0
125497038  125497038  2017-08-15         54   2113914       198.0            1
125497039  125497039  2017-08-15         54   2116416         2.0            0

[125497040 rows x 6 columns]

In [9]:
train_df = train_dates.merge(train_df, on='date')
train_df

,date,month,day,year,id,store_nbr,item_nbr,unit_sales,onpromotion
0,2013-01-01,1,1,2013,0,25,103665,7.0,0
1,2013-01-01,1,1,2013,1,25,105574,1.0,0
2,2013-01-01,1,1,2013,2,25,105575,2.0,0
3,2013-01-01,1,1,2013,3,25,108079,1.0,0
4,2013-01-01,1,1,2013,4,25,108701,1.0,0
5,2013-01-01,1,1,2013,5,25,108786,3.0,0
6,2013-01-01,1,1,2013,6,25,108797,1.0,0
7,2013-01-01,1,1,2013,7,25,108952,1.0,0
8,2013-01-01,1,1,2013,8,25,111397,13.0,0
9,2013-01-01,1,1,2013,9,25,114790,3.0,0
10,2013-01-01,1,1,2013,10,25,114800,1.0,0
11,2013-01-01,1,1,2013,11,25,115267,1.0,0
12,2013-01-01,1,1,2013,12,25,115611,1.0,0
13,2013-01-01,1,1,2013,13,25,115693,1.0,0
14,2013-01-01,1,1,2013,14,25,115720,5.0,0
15,2013-01-01,1,1,2013,15,25,115850,1.0,0
16,2013-01-01,1,1,2013,16,25,115891,6.0,0
17,2013-01-01,1,1,2013,17,25,115892,10.0,0
18,2013-01-01,1,1,2013,18,25,115894,5.0,0
19,2013-01-01,1,1,2013,19,25,119024,1.0,0
20,2013-01-01,1,1,2013,20,25,119026,1.0,0
21,2013-01-01,1,1,2013,21,25,119141,1.0,0
22,2013-01-01,1,1,2013,22,25,119187,1.0,0
23,2013-01-01,1,1,2013,23,25,119624,4.0,0
24,2013-01-01,1,1,2013,24,25,123927,1.0,0
25,2013-01-01,1,1,2013,25,25,129635,11.0,0
26,2013-01-01,1,1,2013,26,25,153239,3.0,0
27,2013-01-01,1,1,2013,27,25,153267,9.0,0
28,2013-01-01,1,1,2013,28,25,153395,7.0,0
29,2013-01-01,1,1,2013,29,25,155607,2.0,0
...,...,...,...,...,...,...,...,...,...
125497010,2017-08-15,8,15,2017,125497010,54,2056557,7.0,0
125497011,2017-08-15,8,15,2017,125497011,54,2057442,2.0,0
125497012,2017-08-15,8,15,2017,125497012,54,2058758,7.0,0
125497013,2017-08-15,8,15,2017,125497013,54,2059277,1.0,0
125497014,2017-08-15,8,15,2017,125497014,54,2059342,4.0,0
125497015,2017-08-15,8,15,2017,125497015,54,2059799,1.0,1
125497016,2017-08-15,8,15,2017,125497016,54,2060787,36.0,1
125497017,2017-08-15,8,15,2017,125497017,54,2060793,100.0,1
125497018,2017-08-15,8,15,2017,125497018,54,2060910,34.0,1
125497019,2017-08-15,8,15,2017,125497019,54,2061025,29.0,1
125497020,2017-08-15,8,15,2017,125497020,54,2061033,23.0,1
125497021,2017-08-15,8,15,2017,125497021,54,2061404,2.0,0
125497022,2017-08-15,8,15,2017,125497022,54,2062477,1.0,0
125497023,2017-08-15,8,15,2017,125497023,54,2067056,3.0,0
125497024,2017-08-15,8,15,2017,125497024,54,2081056,1.0,0
125497025,2017-08-15,8,15,2017,125497025,54,2081064,49.0,0
125497026,2017-08-15,8,15,2017,125497026,54,2081095,3.0,0
125497027,2017-08-15,8,15,2017,125497027,54,2081161,41.0,0
125497028,2017-08-15,8,15,2017,125497028,54,2084278,2.0,0
125497029,2017-08-15,8,15,2017,125497029,54,2084557,6.0,0
125497030,2017-08-15,8,15,2017,125497030,54,2086882,1.0,0
125497031,2017-08-15,8,15,2017,125497031,54,2087409,3.0,0
125497032,2017-08-15,8,15,2017,125497032,54,2087978,8.0,0
125497033,2017-08-15,8,15,2017,125497033,54,2088922,7.0,0
125497034,2017-08-15,8,15,2017,125497034,54,2089036,4.0,0
125497035,2017-08-15,8,15,2017,125497035,54,2089339,4.0,0
125497036,2017-08-15,8,15,2017,125497036,54,2106464,1.0,1
125497037,2017-08-15,8,15,2017,125497037,54,2110456,192.0,0
125497038,2017-08-15,8,15,2017,125497038,54,2113914,198.0,1
125497039,2017-08-15,8,15,2017,125497039,54,2116416,2.0,0

In [10]:
train_df.to_csv('new_data/new_train.csv', index=False)